---
import Layout from '../layouts/Layout.astro';
import Footer from "@/components/common/Footer.astro";
import Navbar from "@/components/common/Navbar.astro";
import PricingSection from "@/components/apps/fomogen/PricingSection.astro";
import { i18nConfig } from "@/i18n/config";
import { localize } from "@/i18n/localize";

interface Props {
  lang: typeof i18nConfig.locales[number];
}

const { lang } = Astro.props;

import { setLocale } from "@/i18n";
setLocale(lang);

const isDefault = lang === "en";

const meta = {
  title: localize("FOMO Gen Pricing | Elite Social Proof for Shopify"),
  description: localize("Transparent, performance-based pricing for AppLass FOMO Gen. No bait-and-switch. 100% ROI guarantee."),
  keywords: localize("fomogen pricing, shopify social proof pricing, free sales pop app"),
  ogTitle: localize("FOMO Gen Pricing | Elite Social Proof for Shopify"),
  ogDescription: localize("Transparent, performance-based pricing for AppLass FOMO Gen. No bait-and-switch. 100% ROI guarantee."),
  ogImage: "https://applass.com/fomogen-feature.png",
  ogUrl: isDefault ? "https://applass.com/apps/fomogen/pricing" : `https://applass.com/${lang}/apps/fomogen/pricing`
};

---

<Layout 
  title={meta.title}
  description={meta.description}
  keywords={meta.keywords}
  ogTitle={meta.ogTitle}
  ogDescription={meta.ogDescription}
  ogImage={meta.ogImage}
  ogUrl={meta.ogUrl}
  lang={lang}
>
  <div class="bg-white">
    <Navbar    />
    
    <div class="pt-32 pb-0">
      <PricingSection />
    </div>

    <Footer />
  </div>
</Layout>
